body {
    background-image: url("../images/funky-lines.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn-topic {
    color: white;
    background-color: rgb(49, 49, 49);
    border: solid white;
    color: white;
    margin: 0px 5px 5px 0px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    opacity: .7;
}

.btn-topic:hover {
    background-color: gray;
}

.btn-topic:active {
    background-color: green;
}

.grid {
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: 3fr auto;
    grid-auto-rows: minmax(60px, auto);
}


header {
    background-color: rgb(49, 49, 49);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
}

section {
    /* background: none; */
}

aside {
    /* background: none; */
}

#wiki {
    margin: 5px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    width: min-content;
}

#gifs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;

}

/* img {
    height: 5em;
} */

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
    /* width: -moz-min-content;
	width: -webkit-min-content;
	width: min-content; */
    /* display: -ms-inline-grid;
    -ms-grid-columns: min-content; */
}

/* .card-img-top {
    margin: 0px;
    width: 200px;
    height: 120px;
    object-fit: cover;
}
*/

.card-name {
    text-align: center;
}
.card-rating {
    text-align: center;
}